* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fff;
    color: #001632;
    user-select: none;
}

/* Main */
.container_main{
    position: relative;
    width: 100%;
    height: 100vh;
}

.header{
    width: 100%;
    height: 70px;
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f1f5fa;
}

.logoSite{
    display: flex;
    align-items: center;
}

.logo{
    height: 30px;
}

.headingSite{
    color: #001632;
    font-size: 1rem;
    font-weight: 700;
    margin-left: .5em;
}

.btn{
    background-color: #3535ec;
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 11px 22px;
}

/* Game */
.main_game{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.grid_List{
    padding: 4% 0;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.box{
    border: 1px solid #3535ec;
    color: #000;
    width: 100%;
    aspect-ratio: 1;
    font-size: 2rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.box.clickedBlue{
    background-color: #84a5fa;
    color: #fff;
    font-weight: 700;
}

/* Footer */
.footer{
    width: 100%;
    height: 70px;
    padding: 0 60px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f1f5fa;
}

.footer span{
    color: #001632;
}

.footer i{
    color: #001632;
    font-size: .9rem;
}

.footer a{
    position: relative;
    color: #3535ec;
}

.footer a::before{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #3535ec;
    transition: width 200ms ease-in-out;
}

.footer a:hover::before{
    width: 100%;
}

/* Media Query */

@media only screen and (max-width: 900px){
    .header,
    .footer{
        padding: 0 4%;
    }
    .box{
        font-size: 1.3rem;
    }
}